/* Setup */
:root {
    color-scheme: dark;

    /* Font */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Inter', Arial, Helvetica, sans-serif;
    
    /* Background */
    --main-bg:             rgb(23, 23, 24); /* rgba(20, 20, 20, 1) */
    --lighter-bg:          rgb(34, 33, 36);
    --transparent-bg:      rgb(23, 23, 24, 0.8);
    --backdrop-color:      rgba(0, 0, 0, 0.5);

    /* Additional colors */
    --dark-border-color:   rgba(199, 199, 199, 0.3);
    --border-color:        rgba(199, 199, 199, 0.3);
    --border-darker:       rgba(255, 255, 255, 0.1);
    --nav-button-hover-bg: rgb(255, 255, 255, 0.1);

    /* Text and elements */
    --text:                white;
    --secondary-text:      rgb(190, 190, 190);
    --link-color:          rgb(81, 162, 255);

    /* Accents */
    --accent-color:        rgb(81, 162, 255); /* #4687ff */
    --gradient-a:          #48ff9a;
    --gradient-b:          #5b81ff;

    --color-html:          #e44c26;
    --color-css:           #379ad6;
    --color-js:            #f7e018;
    --color-node:          #81bd0d;

    /* Numbers */
    --wave-offset: 100px;
}

/* Light theme */
.theme_light {
    /* color-scheme: unset; */

    /* Background */
    --main-bg:             rgb(230, 232, 235);
    --lighter-bg:          white;
    --transparent-bg:      rgba(255, 255, 255, 0.85);
    /* --backdrop-color:      rgba(0, 0, 0, 0.5); */

    /* Misc */
    --dark-border-color:   rgba(199, 199, 199, 0.3);
    --border-color:        rgba(0, 0, 0, 0.3);
    --border-darker:       rgba(0, 0, 0, 0.1);
    --nav-button-hover-bg: rgb(255, 255, 255, 0.1);

    /* Text and elements */
    --text:                black;
    --secondary-text:      rgb(40, 40, 40);
    --link-color:          rgb(72, 143, 224);

    /* Accents */
    /* --accent-color:        rgb(81, 162, 255); */
    --gradient-a:          #00c257;
    --gradient-b:          #3765ff;
}

/* Just for fun */
/* .theme_blue {
    --main-bg:             rgb(41, 41, 97);
    --lighter-bg:          rgb(34, 33, 36);
    --transparent-bg:      rgba(30, 30, 109, 0.8);
    --backdrop-color:      rgba(0, 0, 0, 0.5);

    --dark-border-color:   rgba(199, 199, 199, 0.3);
    --border-color:        rgba(199, 199, 199, 0.3);
    --border-darker:       rgba(255, 255, 255, 0.1);
    --nav-button-hover-bg: rgb(255, 255, 255, 0.1);

    --text:                white;
    --secondary-text:      rgb(190, 190, 190);
    --link-color:          rgb(154, 215, 255);

    --accent-color:        rgb(30, 107, 170);
    --gradient-a:          #ff3b3b;
    --gradient-b:          #288cff;
} */

/* Universal */
* {
    font-family: var(--body-font);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { scroll-behavior: smooth; }
body {
    accent-color: var(--accent-color);
    
    background-color: var(--main-bg);
    color: var(--text);

    font-weight: 300;
    font-size: 11pt;

    margin: 0;
    /* overflow-y: overlay; */
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 800;
}
h1 { font-size: 2em; }
h2 { font-size: 2em !important; }

a {
    color: var(--link-color);
    text-decoration: none;
}
a:not(.nav_item):hover {
    text-decoration: underline;
}

/* Inputs */
*[role="button"] {
    cursor: pointer;
}
button,
input,
textarea,
select,
.button {
    color: white;
    text-align: center;
    font-family: var(--title-font);
    font-weight: 500;
    font-size: 11pt;

    background-color: var(--accent-color);
    border: none;
    border-radius: 50px;
    padding: 8px 24px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease;
    z-index: 1; /* Makes button_shade work in safari */
}
/* button:hover,
input:hover,
textarea:hover,
select:hover,
.button:hover {

} */
.button:hover {
    text-decoration: none !important;
    color: black;
}

/* Fancy button shade */
.button p {
    position: relative;
    z-index: 1;
}
.button_shade {
    background-color: white;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    transition: transform 0.15s ease;
}
.button:hover .button_shade {
    transform: translateY(0);
}

summary {
    cursor: pointer;
}


.bold { font-weight: bold; }
.secondary_text { color: var(--secondary-text); }
.emphasize { color: var(--text) !important;}
.accent_color { color: var(--accent-color); }
.full_width { width: 100%; }
.full_height { height: 100%; }

/* All */
.container {
    width: 100%;
    max-width: 900px;
    padding: 0 16px;
    margin: 0 auto;
}
.overlay_element {
    background-color: var(--transparent-bg);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: 0.2s background-color ease;
}
section {
    padding-top: 32px !important;
    padding-bottom: 24px !important;
}
section h2 {
    font-size: 24pt;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 12px;
}
section:target h2 {
    border-color: var(--accent-color);
    /* box-shadow: inset 0 -6px 5px -4px rgba(81, 162, 255, 0.6); */
}
.column {
    flex: 1;
    padding: 8px 0;
    position: relative;
}

/* Navigation */
#nav {
    width: 100%;
    height: 38px;
    padding: 2px 24px;
    border-bottom: 1px solid var(--border-color);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;

    flex-wrap: wrap;
    /* transition: 0.2s background-color ease; */
}
#nav.nav_transparent {
    color: white;
    background-color: transparent;
    border-color: var(--dark-border-color);
}
#nav:not(.nav_transparent:not(.menu_open)) .nav_item {
    color: var(--text);
}
.nav_item {
    color: white;
    text-align: center;
    margin: 2px;
    padding: 4px;
}
a.nav_item {
    min-width: 90px;
    border-bottom: 1px solid transparent;
}

.page_title {
    font-size: 11pt;
    font-weight: 800;
    font-family: var(--body-font);
    
    padding-right: 24px;
    border-bottom: none;
    border-right: 1px solid var(--border-color);
}
#nav.nav_transparent .page_title {
    border-color: var(--dark-border-color);
}
.nav_button {
    border-radius: 4px;
    height: 100%;
    min-width: 32px;
    margin: 0;

    user-select: none;
    -webkit-user-select: none;
}
a.nav_item:hover,
.nav_button:hover {
    background-color: var(--nav-button-hover-bg);
    border-color: var(--text);
    /* color: var(--link-color); */
}
.icon { filter: invert(); }
.white_icon { filter: none; }
.button_icon {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    /* width: 8px;
    height: 8px;
    transform: scale(2.5, 2.5); */
    -webkit-user-drag: none;
    filter: invert();
    opacity: 0.8;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.nav_button:hover .button_icon { opacity: 1; }
#theme_button:hover .button_icon { transform: rotate(25deg); }
#menu_button {
    display: none;
    position: absolute;
}
#menu_button_icon {
    padding: 6px 7px 0 7px;
}

.a_rollout { animation: rollout 500ms ease; }
@keyframes rollout {
    0%   { transform: rotate(25deg); }
    50%  { transform: translateY(32px) rotate(25deg); }
    100% { transform: rotate(0deg); }
}

/* Mobile hamburger menu */
#hamburger_menu {
    overflow: hidden;
    
    flex: content;
    justify-content: space-between;
    background-color: transparent;
    /* transition: 0.2s background-color ease; */
}

/* Landing */
#video_main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: calc(100vh + var(--wave-offset));

    animation: 2s video_fade cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
@keyframes video_fade {
    from { filter: brightness(0%) }
}
#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
#home_center {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 0 12px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#home .home_block {
    width: 100%;
    padding: 20px;

    background-color: var(--transparent-bg);
    border: 1px solid var(--border-darker);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);

    position: relative;
    transition-property: border-color box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;

    animation: floatin 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: backwards;
}
@keyframes floatin   { 0% { transform: translateY(48px); } }
#home .home_block:hover {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6),
                inset 0 0 10px rgba(255, 255, 255, 0.075);
}
#home .home_hello {
    width: 386px;
    flex: unset;
    margin-right: 200px;
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
}
#home .home_more {
    width: 280px;
    margin-left: 180px;
    /* margin-top: -90px; */
    margin-top: -75px;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
}
#home h1.big_title {
    font-size: 32pt;
    padding-bottom: 2px;
    line-height: 90%;
}
#home .big_title_accent {
    font-family: var(--title-font);
    
    background-color: var(--accent-color);
    background-image: linear-gradient(65deg, var(--gradient-a) 0%, var(--gradient-b) 100%);
    filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.3));

    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    transition: background-position 2s ease;
}
#home .home_hello .big_title_accent:hover { background-position: 320px; }
#home p.tagline { font-size: 16pt; }

/* Reduce Motion */
#home #reduce_motion {
    width: auto;

    padding: 8px 16px;
    border-radius: 50px;

    position: absolute;
    right: 32px;
    bottom:32px;

    animation: none;
}
#home #reduce_motion:hover { color: var(--text); }
.wave_decoration {
    background-image: url(./assets/decoration/wave.png);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;

    width: 100%;
    height: var(--wave-offset);

    position: absolute;
    bottom: -100px; left: 0; right: 0;
}
@media screen and (min-width: 1600px) {
    .wave_decoration { background-position: center top; }
}

/* Skills */
#skills {
    /* Variables */
    --angle: 60deg;
    --start-percent: -500%;
    --end-color: transparent;
    --end-percent: 200%;

    /* CSS */
    position: relative;
    min-height: 100vh;
    align-items: center;
}
#skills_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill {
    width: 49.5%;
    height: 88px;

    background-color: var(--lighter-bg);
    background-image: linear-gradient(var(--angle), var(--border-color) var(--start-percent), var(--end-color) var(--end-percent));
    padding: 12px 16px;
    margin-top: 12px;
    border-radius: 6px;

    border: 1px solid var(--border-color);

    display: flex;
    align-items: center;
}
.skill img {
    width: 48px;
    margin-right: 16px;
    border-radius: 6px;
}
/* Skill colors */
/* #region */
#skill_html img { background-color: var(--color-html); }
#skill_html {
    background-image: linear-gradient(var(--angle), var(--color-html) var(--start-percent), var(--end-color) var(--end-percent));
    border-color: var(--color-html);
}
#skill_css img  { background-color: var(--color-css); }
#skill_css {
    background-image: linear-gradient(var(--angle), var(--color-css) var(--start-percent), var(--end-color) var(--end-percent));
    border-color: var(--color-css);
}
#skill_js img   { background-color: var(--color-js); }
#skill_js {
    background-image: linear-gradient(var(--angle), var(--color-js) var(--start-percent), var(--end-color) var(--end-percent));
    border-color: var(--color-js);
}
#skill_node img { background-color: var(--color-node); }
#skill_node {
    background-image: linear-gradient(var(--angle), var(--color-node) var(--start-percent), var(--end-color) var(--end-percent));
    border-color: var(--color-node);
}
#skill_photoshop img { background-color: #001e36; border: 2px solid #31a8ff }
/* #endregion */
#visual_layer {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
}
#visual_layer div {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: var(--lighter-bg);
}
#visual_layer .circle {
    border-radius: 50%;
    top: 28%;
    left: -60px;
}
#visual_layer .triangle {
    border: 65px solid var(--main-bg);
    border-bottom-color: var(--lighter-bg);
    transform: rotate(8deg) scale(1, 1.8);
    top: 56%;
    right: -72px;
}

/* Projects */
.projects_list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project_item {
    color: white;

    width: 49.5%;
    height: 200px;
    margin-bottom: 12px;
    /* margin-right: 12px; */

    /* background-color: var(--lighter-bg); */
    background-color: #222124;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);

    background-size: cover;
    /* background-position: center; */
    /* background-size: 100%; */
    transition-property: transform, box-shadow, border-color, background-size, filter;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.95, 0.55, 0.05, 0.445);
    transform: perspective(800px);
}
.project_item:hover {
    border-color: rgb(182, 182, 182);
    filter: brightness(110%);
    box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
    transform: perspective(800px) rotateX(5deg) scale(1.025, 1.025);
    z-index: 1;
}
.project_item img {
    image-rendering: pixelated;
}
.project_item .label {
    font-family: var(--title-font);
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    font-size: 12pt;
}
.project_item .label {
    position: absolute;
    bottom: 8px;
    left: 12px;
}
.project_item .label img {
    padding-right: 4px;
    transform: translateY(-4px);
}
.projects_list summary {
    background-color: var(--lighter-bg);
    border-radius: 6px;
    border: 1px solid var(--border-color);

    font-family: var(--title-font);
    font-size: 12pt;

    width: 100%;
    height: auto;
    padding: 8px 12px;
    margin: 6px 0 12px;
    transition: 0.1s border-color ease;
}
.projects_list summary:hover {
    filter: brightness(110%);
    border-color: var(--text);
}
.projects_list details .project_item {
    width: 100%;
    height: 120px;
}



/* Contact */
#contact_list {
    background-color: var(--lighter-bg);
    border-radius: 8px;

    font-size: 12pt;
}
.contact_item { padding: 8px 12px; }
.contact_item:not(:last-of-type) { border-bottom: 1px solid var(--border-darker); }
.contact_item img {
    margin: 4px 12px 0 2px;
    width: 32px;
    height: 32px;

    opacity: 0.8;
}


/* Footer */
#footer {
    position: relative;
    overflow: hidden;
    color: var(--secondary-text);

    padding: 12px 0;
    margin-top: 12px;
    border-top: 1px solid var(--border-color);
}
#footer::before {
    content: url(./assets/decoration/halftone.png);
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    /* width: 300px; */
}
/* #footer .column:first-of-type { margin-right: 16px; } */



/* Overlays */
#backdrop {
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: var(--backdrop-color);
    z-index: 9;
    visibility: hidden;
}
.visible { visibility: visible !important; }





/* Themes */
.theme_light .icon:not(.button_icon),
.theme_light #nav:not(.nav_transparent) .icon,
.theme_light #nav.menu_open .icon {
    filter: none;
}
.theme_light .white_icon:not(.button_icon),
.theme_light #nav:not(.nav_transparent) .white_icon,
.theme_light #nav.menu_open .white_icon {
    filter: invert();
}
/* .theme_light #video_main {
    filter: invert() hue-rotate(180deg) brightness(90%);
} */
.theme_light .wave_decoration { filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1559%) hue-rotate(182deg) brightness(90%) contrast(107%); }
.theme_light #footer::before { filter: invert(); }




/* Media queries */

/* Mobile layout */
@media screen and (max-width: 600px) {
    /* Nav */
    #nav {
        padding-left: 12px;
        padding-right: 12px;
    }
    #nav .page_title {
        border-color: transparent !important;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #nav .nav_right {
        justify-content: center;
        padding-bottom: 8px;
        border-top: 1px solid var(--border-darker);
    }

    /* Hamburger menu */
    #menu_button { display: unset; }
    #nav { transition: none; }
    .button_icon {
        width: 24px;
        height: 24px;
        padding-top: 6px;
    }
    #hamburger_menu, #nav_list { flex-direction: column; }
    #hamburger_menu {
        width: 100%;
        background-color: var(--main-bg);
        border-bottom: 1px solid var(--border-color);
        
        position: absolute;
        top: 38px;
        left: 0;

        visibility: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        height: max-content;
    }
    #nav.menu_open #hamburger_menu {
        visibility: visible;
        max-height:  240px;
    }
    #nav.menu_open {
        background-color: var(--main-bg);
        border-color: var(--main-bg);
    }

    /* Main */
    #home { padding: 0 12px; }
    #home .home_block {
        width: 100%;
        margin: 0;
    }
    #home .home_hello { margin-bottom: 12px; }

    /* Projects */
    .projects_list,
    #skills_list {
        flex-direction: column;
    }
    .project_item,
    .skill {
        width: 100%;
    }
}

/* Reduced Motion */
.reduced_motion * {
    animation: none;
    transition: none;
}
.reduced_motion *:hover { transform: none; }
